@font-face {
    font-family: "Arial Black";
    src: url("/shelter/sass/fonts/arial/arial-black.ttf") format("truetype");
  }
  
@font-face {
    font-family: "Arial Bold Italic";
    src: url("/shelter/sass/fonts/arial/arial-bold-italic.ttf") format("truetype");
 }

@font-face {
    font-family: "Arial Bold";
    src: url("/shelter/sass/fonts/arial/arial-bold.ttf") format("truetype");
 }

@font-face {
    font-family: "Arial Bold";
    src: url("/shelter/sass/fonts/arial/") format("truetype");
 }

 @font-face {
    font-family: "Georgia Regular";
    src: url("/shelter/sass/fonts/georgia/georgia-regular.ttf") format("truetype");
 }

 @font-face {
   font-family: "Georgia Bold Italic";
   src: url("/shelter/sass/fonts/georgia/georgia-bold-italic.ttf") format("truetype");
}

@font-face {
   font-family: "Georgia Bold Italic";
   src: url("/shelter/sass/fonts/georgia/georgia-bold-italic.ttf") format("truetype");
}

